accelerate
cachetools
colpali-engine
docling
fuzzywuzzy
httpx
lancedb
matplotlib
networkx
nltk
numpy
pandas
Pillow
psutil
PyMuPDF
PyPDF2
python-dotenv
python-Levenshtein
rank_bm25
requests
rerankers
scikit-learn
sentence_transformers
sentencepiece
torch==2.4.1
torchaudio
torchvision==0.19.1
transformers==4.51.0

